body{
    background-color: silver;/*3*/
}

span{
    color:red;/*3*/
    font-size: 30px;/*3*/
}

#lottoe{
    position: absolute;/*3*/
    left:550px;/*3*/
    background-color: gold;
    text-align: center;/*3*/
}

#EnterColumn{
    position: absolute;
    left:530px;
    top:350px;
    text-align: center;
    background-color: blueviolet;
    width:500px;
    height:250px;
}

.Number{
    margin:10px;
    width:35px;
    height:20px
}

#PrizeMessageDiv{
    text-align: center;
    color:white;
    background-color: rgb(184, 115, 51);
    position:absolute;
    left:625px;
    top:650px;
    width:300px;
}